/*9*/
section:first-child {
	font-weight: bold;
}

/*10*/
section:nth-child(6) {
/*section:last-child {*/
	font-weight: bold;
	font-style: italic;
}

/*11*/
button {
	display: block;
}

.blue {
	color: blue;
}

.hulk {
	font-size: 2em;
}

.capture {
	border: 1px solid black;
}

.rounded {
	border-radius: 20px;
}